style.css
body{
font-family:Arial;
background:#f2f2f2;
margin:0;
padding:0;
}

.topo{
background:#0d2b52;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.logo-area h1{
margin:0;
}

.user-area{
display:flex;
gap:10px;
align-items:center;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:8px;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:15px;
padding:20px;
}

.bicho{
background:white;
border-radius:10px;
padding:20px;
text-align:center;
cursor:pointer;
}

.bicho.livre{
background:#d4ffd4;
}

.bicho.reservado{
background:#ffe5a8;
}

.bicho.confirmado{
background:#ffb3b3;
}

.login-box{
max-width:400px;
margin:100px auto;
background:white;
padding:30px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:10px;
}

input{
padding:10px;
}

button{
padding:10px;
cursor:pointer;
}

.itemAdmin{
background:#eee;
padding:10px;
margin:10px;
border-radius:5px;
display:flex;
justify-content:space-between;
}
